 .form-all {
            margin-top: 72px;
            background-color: undefined;
            box-shadow: undefined
          }
          .form-line-active {
            background-color: undefined;
          }
          .form-line-error {
            background-color: undefined;
          }
          .form-line-error input:not(#coupon-input):not(.form-validation-error) {
            border-color: undefined;
          }
          .form-label {
            color: undefined;
          }
          .form-sub-label {
            color: undefined;
          }
          .form-dropdown,
          .form-textarea,
          .form-textbox,
          .form-checkbox + label:before, .form-radio + label:before,
          .form-radio + span:before, .form-checkbox + span:before {
            border-color: undefined;
            background-color: undefined;
            color: undefined;
          }
          .rating-item label {
            border-color: undefined;
            background-color: undefined;
            color: undefined;
          }
          .rating-item-title.for-to > label:first-child,
          .rating-item-title.for-from > label:first-child,
          .rating-item-title .editor-container * {
            background-color: transparent;
            color: undefined;
          }
          .appointmentCalendarContainer .monthYearPicker .pickerItem+.pickerItem {
            border-left-color: undefined;
          }
          .appointmentCalendarContainer {
            background-color: undefined;
            border-color: undefined;
          }
          .appointmentCalendarContainer .currentDate,
          .appointmentCalendarContainer .pickerItem .pickerYear,
          .appointmentCalendarContainer .pickerItem .pickerMonth
          {
            color: undefined;
          }
          .appointmentCalendar .calendarDay {
            color: undefined;
        }
          .appointmentCalendarContainer .monthYearPicker{
            border-color: undefined;
          }
          .rating-item input:focus+label, .rating-item input:hover+label {
            color: undefined;
          }
          .appointmentCalendar .calendarDay.isUnavailable,
          ::placeholder {
            color: undefined;
          }
          .form-spinner-button-container > *,
          .appointmentDayPickerButton,
          .form-matrix-column-headers, .form-matrix-row-headers {
            background-color: undefined;
          }
          .appointmentCalendar .dayOfWeek {
            background-color: undefined;
            color: undefined;
          }
          .form-matrix-values {
            background-color: undefined;
          }
          .rating-item input:focus+label, .rating-item input:hover+label {
            color: undefined;
            background-color: undefined;
            border-color: undefined;
          }
          .rating-item input:checked+label {
            background-color: undefined;
            border-color:undefined;
            color: #fff;
          }
    
          .form-dropdown:hover, .form-textarea:hover, .form-textbox:hover, .form-checkbox:hover + label:before, .form-radio:hover + label:before {
            border-color: undefined;
            box-shadow: undefined;
          }
          .form-dropdown:focus, .form-textarea:focus, .form-textbox:focus, .form-checkbox:focus + label:before, .form-radio:focus + label:before {
            border-color: undefined;
            box-shadow: undefined;
          }
          .form-matrix-column-headers, .form-matrix-table td, .form-matrix-table td:last-child, .form-matrix-table th, .form-matrix-table th:last-child, .form-matrix-table tr:last-child td, .form-matrix-table tr:last-child th, .form-matrix-table tr:not([role=group])+tr[role=group] th,
          .form-matrix-column-headers, .form-matrix-table td,
          .form-matrix-table td:last-child, .form-matrix-table th,
          .form-matrix-table th:last-child, .form-matrix-table tr:last-child td,
          .form-matrix-table tr:last-child th,
          .form-matrix-table tr:not([role=group])+tr[role=group] th
          {
            border-color: undefined;
            color: undefined;
          }
          .form-matrix-headers.form-matrix-column-headers,
          .isSelected .form-matrix-column-headers:nth-last-of-type(2) {
            border-color: undefined;
          }
          .form-radio:checked + label:after {
            background-color: undefined;
          }
          .form-checkbox:checked + label:before {
            background-color: undefined;
            border-color: undefined;
          }
          .form-radio:checked + label:before {
            border-color: undefined;
          }
          .form-header {
            color: undefined;
          }
          .jSignature, .signature-pad-passive {
            border-color: undefined;
          }
          .form-header-group .form-subHeader {
            color: undefined;
          }
          .form-header-group {
            border-color: undefined;
          }
          .header-large {
            color: undefined;
            border-color: undefined;
          }
          li[data-type="control_text"] .form-html {
            color: undefined;
          }
          li[data-type="control_datetime"] .extended .allowTime-container + .form-sub-label-container {
            background-color: undefined;
          }
          .submit-button {
            background-color: undefined;
            border-color: undefined;
          }
          .submit-button:hover {
            background-color: undefined;
            border-color: undefined;
          }
          .form-sacl-button, form-submit-print {
            color: undefined;
          }
          .form-pagebreak-back {
            background-color: undefined;
            border-color: undefined;
          }
          .form-pagebreak-back:hover {
            background-color: undefined;
            border-color: undefined;
          }
          .form-pagebreak-next {
            background-color: undefined;
            border-color: undefined;
          }
          .form-pagebreak-next:hover {
            background-color: undefined;
            border-color: undefined;
          }
          .form-pagebreak, .form-pagebreak > div {
            border-color: undefined;
          }
          .form-buttons-wrapper, .form-pagebreak, .form-submit-clear-wrapper {
            border-color: undefined;
          }
          .stageEmpty {
            border-color: undefined;
            color: undefined;
          }
          body{
              background-color: cyan;
          }
      
          